@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
}

.max-h-full {
  max-height: 100%;
}

/*
    Break words
*/
.hyphenate {
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
      -moz-hyphens: auto;
          hyphens: auto;
}

/*
    Bullet Lists that combine inside and outside
*/
ol.list-inside-out {
  list-style-type: none;
  padding: 0;
  counter-reset: list-item;
}

ol.list-inside-out li {
  padding-left: 1.5rem; /* Abstand für die Zahl */
  position: relative;
  counter-increment: list-item; /* Zähler erhöhen */
}

ol.list-inside-out-2 li {
  padding-left: 2rem; /* Abstand für die Zahl */
}

ol.list-inside-out li::before {
  content: counter(list-item) "."; /* Aktuelle Listennummer verwenden */
  position: absolute;
  left: 0;
  font-size: inherit; /* Skaliert die Zahlen-Größe mit der Schriftgröße des li-Elements */
}

/*
  Unicorn
*/
.unicorn {
  animation: Rotate 6s linear infinite;
}

@keyframes Rotate {
  0%, 100% {
    -moz-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
  }

  90% {
    -moz-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
  }

  95% {
    -moz-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg); 
        transform:rotate(20deg); 
  }
}

/*
  Shield
*/
.shield-gold {
  /* border: 1px solid #db2777; */
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  background-image:
    linear-gradient(
      90deg,
      #FCF6BA 50%,
      #BF953F 100%
    );
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5);
}

.shield-silver {
  /* border: 1px solid #db2777; */
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  background-image:
    linear-gradient(
      90deg,
      #ccc 50%,
      #444 100%
    );
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5);
}

.shield-bronze {
  /* border: 1px solid #db2777; */
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  background-image:
    linear-gradient(
      90deg,
      #db6c2b 50%,
      #673208 100%
    );
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5);
}
