@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
}

.max-h-full {
  max-height: 100%;
}

/*
    Break words
*/
.hyphenate {
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
      -moz-hyphens: auto;
          hyphens: auto;
}

/*
    Bullet Lists that combine inside and outside
*/
ol.list-inside-out {
  list-style-type: none;
  padding: 0;
  counter-reset: list-item;
}

ol.list-inside-out li {
  padding-left: 1.5rem; /* Abstand für die Zahl */
  position: relative;
  counter-increment: list-item; /* Zähler erhöhen */
}

ol.list-inside-out-2 li {
  padding-left: 2rem; /* Abstand für die Zahl */
}

ol.list-inside-out li::before {
  content: counter(list-item) "."; /* Aktuelle Listennummer verwenden */
  position: absolute;
  left: 0;
  font-size: inherit; /* Skaliert die Zahlen-Größe mit der Schriftgröße des li-Elements */
}

/*
  Unicorn
*/
.unicorn {
  animation: Rotate 6s linear infinite;
}

@keyframes Rotate {
  0%, 100% {
    -moz-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
  }

  90% {
    -moz-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
  }

  95% {
    -moz-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg); 
        transform:rotate(20deg); 
  }
}